/* Browser default reset. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
    background-color: #b8ffc5;
    padding: 10px;
}
body {
    background-color: black;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 1fr;
}
.header {
    text-align: center;
    grid-column: 2/3;
    font-family: 'Anton', sans-serif;
    font-kerning: auto;
    letter-spacing: 2px;
}
.left {
    grid-column: 1/2;
}
.right {
    grid-column: 3/4;
}

button {
    height: 50px;
    width: 100px;
    color: white;
    background-color: black;
    border: 3px solid white;
    font-weight: 900;
    text-transform: uppercase;
}

.bodygrid {
    display: grid;
    grid-template-columns: 1fr 920px 1fr;
    grid-template-rows: 1fr;
}
.library {
    grid-column: 2/3;
    margin-top: 15px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    gap: 10px;
}
.libright {
    grid-column: 1/2;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.libleft {
    grid-column: 3/4;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.libright > .sidetext {
    writing-mode: sideways-lr;
    transform: scaleX(-1);
}
.sidetext {
    font-family: 'Libre Barcode 39', cursive;
    color: #b8ffc5;
    writing-mode: sideways-lr;
    font-size: 110pt;
}

/* Library book cards. */
@keyframes card-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.card {
    color: white;
    font-family: 'Anton', sans-serif;
    background-color: black;
    width: 300px;
    height: 400px;
    animation: card-animate .3s linear;
    padding: 20px;
    border: 5px solid white;
    font-size: xx-large;
    line-height: 99%;
    text-transform: uppercase;
}

/* Rules for the modal that will open on add book button press. */
.modal {
    visibility: hidden;
    position: fixed;
    z-index: -1; /*Hide in page of page content*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}
/* Rules for modal content box. */
.modal-content {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 350px;
    background-color: #b8ffc5;
    border: 5px solid white;
    transition: all .5s ease-in-out;
    scale: 0;
    font-family: 'Anton', sans-serif;
    padding: 10px;
}

div.formbox {
    grid-row: 2/4;
}
#book-form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    height: 100%;
    
}
.formauthor, .formpages, .formtitle {
    display: grid;
    
}

.topbox {
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
}

.buttonbox {
    grid-row: 4/5;
    display: flex;
    justify-content: right;

    align-items: flex-end; 
}